NEXT_PUBLIC_GOOGLE_ADSENSE_CLIENT_ID=ca-pub-9894115634285043

NEXT_PUBLIC_ADSENSE_SLOT=2383460683
NEXT_PUBLIC_ADSENSE_BANNER_SLOT=2383460683
NEXT_PUBLIC_ADSENSE_IN_ARTICLE_SLOT=8980883965
NEXT_PUBLIC_ADSENSE_LEFT_SLOT=7428129149
NEXT_PUBLIC_ADSENSE_RIGHT_SLOT=3345413900
NEXT_PUBLIC_ADSENSE_BOTTOM_SLOT=4997496219
